<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vitaliypetruk.project" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        android:largeHeap="true"
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <fragment
            android:name=".poligon"
            android:label="@string/title_activity_poligon" >
        </fragment>

        <service
            android:name=".CService"
            android:label="My Service" >
        </service>

        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".NewAccount_MainInfo"
            android:label="@string/title_activity_new_account__main_info" >
        </activity>
        <activity
            android:name=".Extends_info"
            android:label="@string/title_activity_extends_info" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".ContactInfo"
            android:label="@string/title_activity_contact_info" >
        </activity>
        <activity
            android:name=".Chats"
            android:label="@string/chat_title" >
        </activity>
        <activity
            android:name=".SearchNewFriend"
            android:label="@string/title_activity_search_new_friend" >
        </activity>
        <activity
            android:name=".EntryFriend"
            android:label="@string/title_activity_entry_friend" >
        </activity>
    </application>

</manifest>
